# <center><font color = 'green'>Simulated data for purchasing a new electric car</fon></center>

![car-reg](Images/car-reg.png)<br><p style='text-align: right;'>(Dreamstime.com, 2019)</p>

## <center><font color = 'green'>Barry Clarke</fon></center>
## <center><font color = 'green'>Programming for Data Analytics - Project - Autumn 2019</fon></center>

## Description

This repository will simulate the data for the purchasing of new hybrid and full electric cars in Ireland in the 2019. Summary car sales figures show that there has been a significant increase in Hybrid and full electric cars in 2019, when compared to 2018 sales figures (Irish Motor Industry, 2019). The trend of total sales of Hybrids + full electric cars for 2018 and 2019 can be seen below. <br> 
![New E-car sales summary](Images/E-Car-sales-summary.png)<br>
This data is of interest to the author, as his next car purchase will either be a hybrid or a full electric. Note the trend in the above plot with two peaks, one in January and one in July. This can be explained by the volume of car sales seen at the beginning of the 1st half of the year, and the beginning of the 2nd half of the year. For the below dataset, this trend is not important, rather the focus will be on the overall volume of sales for individual car types for the entire first 10months of 2019.

The dataset will include the following columns:
1. **Model:** The make of car
2. **Make:** The manufacturer of the car
3. **Technology** The engine type
4. **Class:** The class of car
5. **Price** The price of the car
6. **Location** County where the car is registered. <font color = 'Red'>Note:</font> The dataset will only focus on Dublin and the commuter counties, as the author is a commuter and would like data relevant to his life situation
6. **colour** The colour of the car
7. **Gender:** Gender of purchaser
8. **Scrappage:** Yes/No based on whether the purchaser was availing of a scrappage deal

Within the dataset, the relationships between the variables will be discussed and simulated. The final simulated dataset will contain 1000 entries.<br>
**Note:** The simulated dataset is primarily based on summary data provided from the Irish Motor Industry Motorstats (Irish Motor Industry, 2019)

In [1]:
# Import the relevant libraries
import numpy as np
import pandas as pd

The below data is based on the summary data for the registrations of hybrid and Electric passenger cars sold in Dublin and it's commuter counties in 2019 to end of November. This data can be viewed [here](Data/passenger-cars-by-model.xlsx)<br>

Prior to structuring and filling the dataset, it is necessary to list all possible options within each variable.

In [2]:
# List of options within each variable
model = ['Leaf', 'Kona', 'Niro', 'zoe', 'E-Golf', 'Outlander', 'Range Rover sport RA', 'Ioniq', 'I3', '5 Series', 'XC90', 
        '3 Series', 'Soul', 'Countryman', 'Model S', 'XC60', 'E-Tron', 'I-Pace', 'Range Rover', 'Model 3', 'Model X',
       'S90', 'Prius', 'Panamera', 'Mondeo', '2 Series', 'Range Rover Evoque R', 'EQC', 'E Class', 'Evalia', '7 Series',
       'Passat', 'Twizy', 'C Class', 'A7', 'V90', 'Cayenne']
make = ['Nissan', 'Hyundai', 'Kia', 'Renault', 'Volkswagon', 'Mitsubishi', 'Land Rover', 'Hyundai', 'BMW', 'Volvo', 'Mini',
       'Tesla', 'Audi', 'Jaguar', 'Toyota', 'Porsche', 'Ford', 'Mercedez-Benz']
technology = ['Hybrid/Diesel', 'Hybrid/Petrol', 'Electric']
classification = ['Small', 'Medium', 'Large', 'SUV']
Price = ['Whatever']
location = ['Dublin', 'Meath', 'Louth', 'Kildare', 'Wicklow', 'Wexford', 'Carlow']
colour = ['Black', 'White', 'Red', 'Silver', 'Navy', 'Other']
gender = ['Male', 'Female']
scrappage = ['Yes', 'No']

For each sale simulated, the [numpy.random.choice()](#https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.choice.html) (numpy.random.choice, 2019) function will be used, with a probability attached to each car based on the sales statistics of all cars in the data.

In [3]:
# Probabilities of each car model being registered, based on 2019 Summary data
p1=[0.212, 0.220, 0.090, 0.037, 0.062, 0.046, 0.046, 0.003, 0.035, 0.027, 0.022, 0.02, 0.012, 0.013, 0.014, 0.01, 0.011, 0.012, 0.010, 0.009, 0.008, 0.009, 0.005, 0.006, 0.002, 0.002, 0.002, 0.001, 0.001, 0.0003, 0.0007, 0.0007, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003]
# numpy.random.choice() can have difficulty suming all probabilities to 1. The solution is to normalize the probabilities 
# by dividing them by their sum if the sum is close enough to 1. (stackoverflow.com, 2017)
p1 = np.array(p1)
p1 /= p1.sum()

Similarly, for each sale, the location probabilities is predicted from the summary sales figures in the provided data

In [4]:
# Probabilities of location where car is registered
p2=[0.728, 0.057, 0.033, 0.076, 0.057, 0.034, 0.015]

The principal variable of the dataset will be the Model of car registered

In [5]:
# Create a dataset containing 1000 hybrid or electric cars listed in 'Model' above with probabilities 'P1' also listed above
Cars = pd.DataFrame({'Model': np.random.choice(model, 10, p=p1)})
# View the head of the dataset
Cars.head()

                  Model
0  Range Rover sport RA
1                  Kona
2                E-Tron
3                  Kona
4                  Kona

For each model chosen in the dataset, the model's manufacturer, model classification, and car engine technology are directly related to the model. In a sense, these are not variables as they are directly connected to the model which is randomly chosen above. However, for the dataset sought in this case, the manufacturer, the car class and the engine technology are significant variables for which the author would like to compare and contrast in the dataset.<br> The relationship

In [6]:
# For each model, assign the correct make, classification and technology
for i in range(10):
    if Cars.loc[i, 'Model'] == 'Leaf':
        Cars.loc[i, 'Make'] = 'Nissan'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'Kona':
        Cars.loc[i, 'Make'] = 'Hyundai'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'Niro':
        Cars.loc[i, 'Make'] = 'Kia'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'E-Golf':
        Cars.loc[i, 'Make'] = 'Volkswagen'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'Range Rover Sport RA':
        Cars.loc[i, 'Make'] = 'Land Rover'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Outlander':
        Cars.loc[i, 'Make'] = 'Mitsubishi'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid or Electric'
    elif Cars.loc[i, 'Model'] == 'Model 3':
        Cars.loc[i, 'Make'] = 'Tesla'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'Zoe':
        Cars.loc[i, 'Make'] = 'Renault'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'I3':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'Ioniq':
        Cars.loc[i, 'Make'] = 'Hyundai'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Hybrid or Electric'
    elif Cars.loc[i, 'Model'] == '5 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'technology'] = 'Hybrid or Electric'
    elif Cars.loc[i, 'Model'] == 'XC90':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == '3 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Model S':
        Cars.loc[i, 'Make'] = 'Tesla'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'Countryman':
        Cars.loc[i, 'Make'] = 'Mini'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid or Electric'
    elif Cars.loc[i, 'Model'] == 'I-Pace':
        Cars.loc[i, 'Make'] = 'Jaguar'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'E-Tron':
        Cars.loc[i, 'Make'] = 'Audi'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'XC60':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid or Electric'
    elif Cars.loc[i, 'Model'] == 'Soul':
        Cars.loc[i, 'Make'] = 'Kia'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid or Electric'
    elif Cars.loc[i, 'Model'] == 'Range Rover':
        Cars.loc[i, 'Make'] = 'Land Rover'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'S90':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Medium'
    elif Cars.loc[i, 'Model'] == 'Model X':
        Cars.loc[i, 'Make'] = 'Tesla'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'Panamera':
        Cars.loc[i, 'Make'] = 'Porsche'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'technology'] = 'Hybrid or Electric'
    elif Cars.loc[i, 'Model'] == 'Prius':
        Cars.loc[i, 'Make'] = 'Toyota'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == '2 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Mondeo':
        Cars.loc[i, 'Make'] = 'Ford'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Range Rover Evoque R':
        Cars.loc[i, 'Make'] = 'Land Rover'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'EQC':
        Cars.loc[i, 'Make'] = 'Mercedes Benz'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'E-Class':
        Cars.loc[i, 'Make'] = 'Mercedes Benz'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Evalia':
        Cars.loc[i, 'Make'] = 'Nissan'
        Cars.loc[i, 'Classification'] = 'Family'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'V90':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Cayenne':
        Cars.loc[i, 'Make'] = 'Porsche'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Passat':
        Cars.loc[i, 'Make'] = 'Volkswagen'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'A7':
        Cars.loc[i, 'Make'] = 'Audi'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == '7 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'technology'] = 'Hybrid'
    elif Cars.loc[i, 'Model'] == 'Twizy':
        Cars.loc[i, 'Make'] = 'Renault'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'technology'] = 'Electric'
    elif Cars.loc[i, 'Model'] == 'C Class':
        Cars.loc[i, 'Make'] = 'Mercedes Benz'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'technology'] = 'Hybrid'
    
   # else:
   #      Cars.loc[i, 'Make'] = 'Audi'

In [7]:
Cars

                  Model     Make Classification          technology
0  Range Rover sport RA      NaN            NaN                 NaN
1                  Kona  Hyundai            SUV            Electric
2                E-Tron     Audi         Medium            Electric
3                  Kona  Hyundai            SUV            Electric
4                  Kona  Hyundai            SUV            Electric
5                  Leaf   Nissan          Small            Electric
6                  Kona  Hyundai            SUV            Electric
7                  Leaf   Nissan          Small            Electric
8                  Leaf   Nissan          Small            Electric
9            Countryman     Mini            SUV  Hybrid or Electric

For commuting purposes, the author is interested if the sales figures and trends for Dublin and the surrounding counties to see whether certain cars are preferred as the commuting distance varies. the location of sales is random, but with probability weights attached in line with the summary statistics p2, and appended to the dataset

In [8]:
Cars['Location'] = np.random.choice(location, size=10, p=p2)

In [9]:
Cars

                  Model     Make Classification          technology Location
0  Range Rover sport RA      NaN            NaN                 NaN  Wicklow
1                  Kona  Hyundai            SUV            Electric   Dublin
2                E-Tron     Audi         Medium            Electric   Dublin
3                  Kona  Hyundai            SUV            Electric   Dublin
4                  Kona  Hyundai            SUV            Electric   Dublin
5                  Leaf   Nissan          Small            Electric  Wicklow
6                  Kona  Hyundai            SUV            Electric   Dublin
7                  Leaf   Nissan          Small            Electric   Dublin
8                  Leaf   Nissan          Small            Electric   Dublin
9            Countryman     Mini            SUV  Hybrid or Electric   Dublin

In [10]:
for i in range(10):
    if Cars.loc[i, 'Model'] == 'Leaf':
        Cars.loc[i, 'Make'] = 'Nissan'
           # print('Nissan')
    else:
         Cars.loc[i, 'Make'] = 'Audi'
           # print('Audi')

In [11]:
Cars

                  Model    Make Classification          technology Location
0  Range Rover sport RA    Audi            NaN                 NaN  Wicklow
1                  Kona    Audi            SUV            Electric   Dublin
2                E-Tron    Audi         Medium            Electric   Dublin
3                  Kona    Audi            SUV            Electric   Dublin
4                  Kona    Audi            SUV            Electric   Dublin
5                  Leaf  Nissan          Small            Electric  Wicklow
6                  Kona    Audi            SUV            Electric   Dublin
7                  Leaf  Nissan          Small            Electric   Dublin
8                  Leaf  Nissan          Small            Electric   Dublin
9            Countryman    Audi            SUV  Hybrid or Electric   Dublin

In [12]:
categories()

NameError: name 'categories' is not defined

In [ ]:
Cars

In [ ]:
Cars['Make'] = categories()

In [ ]:
Cars

In [ ]:
Cars.loc[1,'Model']

In [ ]:
# segmentation_features = {'Make': make,
#                'Classification': classification,
#                'Technology': technology}
# segmentation_features

In [ ]:
# def generating_categorical_features(model)
#     if model == "Leaf":
#        make = "Nissan"
#        classification = "small"
#        technology = "Electric"

In [ ]:
# Define a function to add the correct categories car model randomly chosen
#. def make1():
    
#for i in range(10):
 #   if model == 'Leaf':
 #       make = 'Nissan'
  #  elif model == 'Kona':
  #      make = 'Nissan'
   # else:
  #      make = 'Audi'

In [ ]:
#Cars['Make'] = make1()

In [ ]:
# Cars

In [ ]:
# Cars = pd.DataFrame({'Model': np.random.choice(model, 10, p=p1), 'Make': make1(),
#                    'Class': np.random.choice(classification, 10), 'Price': np.random.randint(20000, 80000, size=10),
#                    'Location': np.random.choice(location, size=10, p=p2), 'Gender': np.random.choice(gender, 10),
#                    'Scrappage': np.random.choice(scrappage, 10)})

In [ ]:
#Cars

In [ ]:
# Define a function to add the correct categories car model randomly chosen
#def make1():
 #   for i in range(10):
  #      if Cars.at[i, 'Model'] == 'Leaf':
   #                Cars.at[i, 'Make'] = 'Nissan'
  #  elif model == 'Kona':
     # make = 'Nissan'
    #    else:
     #      Cars.at[i, 'Make'] = 'Audi'

In [ ]:
#Cars = pd.DataFrame({'Model': np.random.choice(model, 10, p=p1), 'Make': make1(),
 #                   'Class': np.random.choice(classification, 10), 'Price': np.random.randint(20000, 80000, size=10),
  #                  'Location': np.random.choice(location, size=10, p=p2), 'Gender': np.random.choice(gender, 10),
   #                 'Scrappage': np.random.choice(scrappage, 10)})

In [ ]:
#Cars

In [ ]:
# Define a function to add the correct categories car model randomly chosen
#def categories(model):
 #   for i in range(10):
  #      if model(i) == 'Leaf':
   #         make = 'Nissan'
    #    elif model(i) == 'Kona':
     #       make = 'Nissan'
      #  else:
       #     make = 'Audi'

In [ ]:
from collections import defaultdict

#import matplotlib.pyplot as plt
#import numpy as np
#import pandas as pd


#alpha = 0.0001
#q = 10
#omega = 0

stats = defaultdict(list)

for i in range(10):
    stats['Model'].append(np.random.choice(model, 1, p=p1))
    
    
    
    
    stats['Location'].append(np.random.choice(location, 1, p=p2))
#    car = stats['Model']
 #   if car == 'Leaf':
  #      stats['Make'].append('Nissan')
   # else:
    #    stats['Make'].append('Audi')

result = pd.DataFrame().from_dict(stats)

result

In [ ]:
from collections import defaultdict

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd


alpha = 0.0001
q = 10
omega = 0

stats = defaultdict(list)

for step in range(50):
    stats['q'].append(q)
    stats['omega'].append(omega)

    omega = omega + alpha * (1 - omega)
    beta = alpha / omega
    stats['beta'].append(beta)

    reward = np.random.normal(loc=5, scale=1)
    stats['reward'].append(reward)

    q += beta * (reward - q)

result = pd.DataFrame().from_dict(stats)
result

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
  
for x in range(5): 
    print(np.random.choice(list1))

## References
1. Dreamstime.com, 2019, [Online image]. Available from: https://www.dreamstime.com/stock-photos-red-new-car-sign-image4256123 [viewed 29th Nov 2019]
2. Irish Motor Industry, 2019. *Car Registrations Data up to 30/11/2019* [Online]. Available from: https: https://stats.beepbeep.ie/ [viewed 1st Dec 2019]<br>
3. SciPy.org, 2019. *numpy.random.choice* [Online]. Available from: https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.choice.html. [viewed, 4th Dec 2019]<br>
4. stackoverflow.com, 2017. *np-random-choice-probabilities-do-not-sum-to-1* [Online]. Avaiable from: https://stackoverflow.com/questions/46539431/np-random-choice-probabilities-do-not-sum-to-1 [ viewed 4th Dec 2019]<br>
2. https://towardsdatascience.com/synthetic-data-generation-a-must-have-skill-for-new-data-scientists-915896c0c1ae
3. https://www.analyticsvidhya.com/blog/2017/09/6-probability-distributions-data-science/