# <center><font color = 'green'>Simulated data for purchasing a new electric car</fon></center>

![car-reg](Images/car-reg.png)<br><p style='text-align: right;'>(Dreamstime.com, 2019)</p>

## <center><font color = 'green'>Barry Clarke</fon></center>
## <center><font color = 'green'>Programming for Data Analytics - Project - Autumn 2019</fon></center>

## Description

This repository will simulate the data for the purchasing of new hybrid and full electric cars in Ireland in the 2019. Summary car sales figures show that there has been a significant increase in Hybrid and full electric cars in 2019, when compared to 2018 sales figures (Irish Motor Industry, 2019). The trend of total sales of Hybrids + full electric cars for 2018 and 2019 can be seen below. <br> 
![New E-car sales summary](Images/E-Car-sales-summary.png)<br>
This data is of interest to the author, as his next car purchase will either be a hybrid or a full electric. Note the trend in the above plot with two peaks, one in January and one in July. This can be explained by the volume of car sales seen at the beginning of the 1st half of the year, and the beginning of the 2nd half of the year. This trend will be simulated in the Month column in the dataset below

The dataset will include the following columns:
1. **Model:** The make of car
2. **Make:** The manufacturer of the car 
3. **Classification:** The class of car 
4. **Technology** The engine type
5. **Location** County where the car is registered. <font color = 'Red'>Note:</font> The dataset will only focus on Dublin and the commuter counties, as the author is a commuter and would like data relevant to his life situation
6. **Price** The price of the car
7. **Month** The Month the car was registered
8. **colour** The colour of the car
9. **Gender:** Gender of purchaser
10. **Scrappage:** Yes/No based on whether the purchaser was availing of a scrappage deal

Within the dataset, the relationships between the variables will be discussed and simulated. The final simulated dataset will contain 1000 entries.<br>
**Note:** The simulated dataset is primarily based on summary data provided from the Irish Motor Industry Motorstats (Irish Motor Industry, 2019)

In [1]:
# Import the relevant libraries
import numpy as np
import pandas as pd

The below data is based on the summary data for the registrations of hybrid and Electric passenger cars sold in Dublin and it's commuter counties in 2019 to end of November. This data can be viewed [here](Data/passenger-cars-by-model.xlsx)<br>

Prior to structuring and filling the dataset, it is necessary to list all possible options within each variable.

In [2]:
# List of options within each variable
model = ['Leaf', 'Kona', 'Niro', 'zoe', 'E-Golf', 'Outlander', 'RR Sport RA', 'Ioniq', 'I3', '5 Series', 'XC90', 
        '3 Series', 'Soul', 'Countryman', 'Model S', 'XC60', 'E-Tron', 'I-Pace', 'RR', 'Model 3', 'Model X',
       'S90', 'Prius', 'Panamera', 'Mondeo', '2 Series', 'RR Evoque R', 'EQC', 'E Class', 'Evalia', '7 Series',
       'Passat', 'Twizy', 'C Class', 'A7', 'V90', 'Cayenne']
make = ['Nissan', 'Hyundai', 'Kia', 'Renault', 'Volkswagon', 'Mitsubishi', 'Land Rover', 'Hyundai', 'BMW', 'Volvo', 'Mini',
       'Tesla', 'Audi', 'Jaguar', 'Toyota', 'Porsche', 'Ford', 'Mercedez-Benz']
technology = ['Hybrid/Diesel', 'Hybrid/Petrol', 'Electric']
classification = ['Small', 'Medium', 'Large', 'SUV']
Price = ['Whatever']
location = ['Dublin', 'Meath', 'Louth', 'Kildare', 'Wicklow', 'Wexford', 'Carlow']
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
colour = ['Black', 'White', 'Red', 'Silver', 'Navy', 'Other']
gender = ['Male', 'Female']
scrappage = ['Yes', 'No']

For each sale simulated, the [numpy.random.choice()](#https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.choice.html) (numpy.random.choice, 2019) function will be used, with a probability attached to each car based on the sales statistics of all cars in the data.

In [3]:
# Probabilities of each car model being registered, based on 2019 Summary data
p1=[0.212, 0.220, 0.090, 0.037, 0.062, 0.046, 0.046, 0.003, 0.035, 0.027, 0.022, 0.02, 0.012, 0.013, 0.014, 0.01, 0.011, 0.012, 0.010, 0.009, 0.008, 0.009, 0.005, 0.006, 0.002, 0.002, 0.002, 0.001, 0.001, 0.0003, 0.0007, 0.0007, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003]
# numpy.random.choice() can have difficulty suming all probabilities to 1. The solution is to normalize the probabilities 
# by dividing them by their sum if the sum is close enough to 1. (stackoverflow.com, 2017)
p1 = np.array(p1)
p1 /= p1.sum()

Similarly, for each sale, the location probabilities is predicted from the summary sales figures in the provided data

In [4]:
# Probabilities of location where car is registered
p2=[0.728, 0.057, 0.033, 0.076, 0.057, 0.034, 0.015]

The probability of car sales is estimated per month, bassed on the slaes figures in the provided data

In [5]:
# Probabilities of what month the car was registered
p3=[0.23, 0.11, 0.1, 0.1, 0.06, 0.03, 0.19, 0.06, 0.03, 0.06, 0.03, 0]
#p3 = np.array(p3)
#p3 /= p3.sum()
sum(p3)

1.0000000000000002

The principal variable of the dataset will be the Model of car registered

In [6]:
# Create a dataset containing 1000 hybrid or electric cars listed in 'Model' above with probabilities 'P1' also listed above
Cars = pd.DataFrame({'Model': np.random.choice(model, 1000, p=p1)})
# View the first 10 rows of the dataset
Cars.head(10)

        Model
0  Countryman
1        Kona
2      I-Pace
3    5 Series
4        Niro
5        Leaf
6         zoe
7    5 Series
8        Niro
9        Leaf

For each model chosen in the dataset, the model's manufacturer, model classification, and car engine technology are directly related to the model. In a sense, these are not variables as they are directly connected to the model which is randomly chosen above. However, for the dataset sought in this case, the manufacturer, the car class and the engine technology are significant variables for which the author would like to compare and contrast in the dataset.

For each car model, there is a price estimate, based on the market value car obtained by research coupled with a normal distribution to reflect the small price changes from dealer to dealer. For the purpose of this exercise, the same normal distribution was applied to all car models. Further research could be done to obtain more accurate variance on individual car models.

In [7]:
# For each model, assign the correct make, classification, technology, and use give an accurate estimate of the price paid.
# Use a for lopp for the dataset size of 1000
for i in range(1000):
    # Use an if loop to assign correct categories and price estimate for each car model
    if Cars.loc[i, 'Model'] == 'Leaf':
        Cars.loc[i, 'Make'] = 'Nissan'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'Technology'] = 'Electric'
        # Use the numpy.random.normal() function to estimate the price of the car
        leaf = np.random.normal(20000, 1000, 1)
        # roundup the float to the nearest integer
        Cars.loc[i, 'Price'] = np.round(leaf)
    # Repeat the loop for every car model in the available for the dataset
    elif Cars.loc[i, 'Model'] == 'Kona':
        Cars.loc[i, 'Make'] = 'Hyundai'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Electric'
        kona = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(kona)
    elif Cars.loc[i, 'Model'] == 'Niro':
        Cars.loc[i, 'Make'] = 'Kia'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Electric'
        niro = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(niro)
    elif Cars.loc[i, 'Model'] == 'E-Golf':
        Cars.loc[i, 'Make'] = 'Volkswagen'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Electric'
        egolf = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(egolf)
    elif Cars.loc[i, 'Model'] == 'RR Sport RA':
        Cars.loc[i, 'Make'] = 'Land Rover'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        RRsport = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(RRsport)
    elif Cars.loc[i, 'Model'] == 'Outlander':
        Cars.loc[i, 'Make'] = 'Mitsubishi'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        outlander = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(outlander)
    elif Cars.loc[i, 'Model'] == 'Model 3':
        Cars.loc[i, 'Make'] = 'Tesla'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Electric'
        model3 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(model3)
    elif Cars.loc[i, 'Model'] == 'Zoe':
        Cars.loc[i, 'Make'] = 'Renault'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'Technology'] = 'Electric'
        zoe = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(zoe)
    elif Cars.loc[i, 'Model'] == 'I3':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'Technology'] = 'Electric'
        i3 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(i3)
    elif Cars.loc[i, 'Model'] == 'Ioniq':
        Cars.loc[i, 'Make'] = 'Hyundai'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Hybrid or Electric'
        ioniq = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(ioniq)
    elif Cars.loc[i, 'Model'] == '5 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        series5 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(series5)
    elif Cars.loc[i, 'Model'] == 'XC90':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        xc90 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(xc90)
    elif Cars.loc[i, 'Model'] == '3 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        series3 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(series3)
    elif Cars.loc[i, 'Model'] == 'Model S':
        Cars.loc[i, 'Make'] = 'Tesla'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'Technology'] = 'Electric'
        models = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(models)
    elif Cars.loc[i, 'Model'] == 'Countryman':
        Cars.loc[i, 'Make'] = 'Mini'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        countryman = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(countryman)
    elif Cars.loc[i, 'Model'] == 'I-Pace':
        Cars.loc[i, 'Make'] = 'Jaguar'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Electric'
        ipace = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(ipace)
    elif Cars.loc[i, 'Model'] == 'E-Tron':
        Cars.loc[i, 'Make'] = 'Audi'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Electric'
        etron = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(etron)
    elif Cars.loc[i, 'Model'] == 'XC60':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        xc60 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(xc60)
    elif Cars.loc[i, 'Model'] == 'Soul':
        Cars.loc[i, 'Make'] = 'Kia'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Electric'
        soul = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(soul)
    elif Cars.loc[i, 'Model'] == 'RR':
        Cars.loc[i, 'Make'] = 'Land Rover'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        RR = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(RR)
    elif Cars.loc[i, 'Model'] == 'S90':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        S90 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(S90)
    elif Cars.loc[i, 'Model'] == 'Model X':
        Cars.loc[i, 'Make'] = 'Tesla'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Electric'
        modelx = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(modelx)
    elif Cars.loc[i, 'Model'] == 'Panamera':
        Cars.loc[i, 'Make'] = 'Porsche'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        panamera = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(panamera)
    elif Cars.loc[i, 'Model'] == 'Prius':
        Cars.loc[i, 'Make'] = 'Toyota'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        prius = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(prius)
    elif Cars.loc[i, 'Model'] == '2 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        series2 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(series2)
    elif Cars.loc[i, 'Model'] == 'Mondeo':
        Cars.loc[i, 'Make'] = 'Ford'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        mondeo = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(mondeo)
    elif Cars.loc[i, 'Model'] == 'RR Evoque R':
        Cars.loc[i, 'Make'] = 'Land Rover'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        RRevoque = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(RRevoque)
    elif Cars.loc[i, 'Model'] == 'EQC':
        Cars.loc[i, 'Make'] = 'Mercedes Benz'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Electric'
        eqc = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(eqc)
    elif Cars.loc[i, 'Model'] == 'E-Class':
        Cars.loc[i, 'Make'] = 'Mercedes Benz'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        eclass = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(eclass)
    elif Cars.loc[i, 'Model'] == 'Evalia':
        Cars.loc[i, 'Make'] = 'Nissan'
        Cars.loc[i, 'Classification'] = 'Family'
        Cars.loc[i, 'Technology'] = 'Electric'
        evalia = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(evalia)
    elif Cars.loc[i, 'Model'] == 'V90':
        Cars.loc[i, 'Make'] = 'Volvo'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        v90 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(v90)
    elif Cars.loc[i, 'Model'] == 'Cayenne':
        Cars.loc[i, 'Make'] = 'Porsche'
        Cars.loc[i, 'Classification'] = 'SUV'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        cayenne = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(cayenne)
    elif Cars.loc[i, 'Model'] == 'Passat':
        Cars.loc[i, 'Make'] = 'Volkswagen'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        passat = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(passat)
    elif Cars.loc[i, 'Model'] == 'A7':
        Cars.loc[i, 'Make'] = 'Audi'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        a7 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(a7)
    elif Cars.loc[i, 'Model'] == '7 Series':
        Cars.loc[i, 'Make'] = 'BMW'
        Cars.loc[i, 'Classification'] = 'Large'
        Cars.loc[i, 'Technology'] = 'Hybrid'
        series7 = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(series7)
    elif Cars.loc[i, 'Model'] == 'Twizy':
        Cars.loc[i, 'Make'] = 'Renault'
        Cars.loc[i, 'Classification'] = 'Small'
        Cars.loc[i, 'Technology'] = 'Electric'
        twizy = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(twizy)
    elif Cars.loc[i, 'Model'] == 'C Class':
        Cars.loc[i, 'Make'] = 'Mercedes Benz'
        Cars.loc[i, 'Classification'] = 'Medium'
        Cars.loc[i, 'Technology'] = 'Hybrid' 
        cclass = np.random.normal(20000, 1000, 1)
        Cars.loc[i, 'Price'] = np.round(cclass)

In [8]:
# Confirm the above by printing the 1st 10 entries of the dataset
Cars.head(10)

        Model     Make Classification Technology    Price
0  Countryman     Mini            SUV     Hybrid  19190.0
1        Kona  Hyundai            SUV   Electric  18783.0
2      I-Pace   Jaguar            SUV   Electric  19718.0
3    5 Series      BMW          Large     Hybrid  19755.0
4        Niro      Kia            SUV   Electric  19175.0
5        Leaf   Nissan          Small   Electric  19467.0
6         zoe      NaN            NaN        NaN      NaN
7    5 Series      BMW          Large     Hybrid  19195.0
8        Niro      Kia            SUV   Electric  18896.0
9        Leaf   Nissan          Small   Electric  19867.0

As can be seen in summary plot at the top of the notebook, the sales figures are not spread uniformly across the year, rather they have two distinct peaks in January and July. In the remainder months the number registered fall off. The probabilities in p3 are an accurate estimate of the monthly numbers.

In [9]:
# Add a column to the dataset to simulate the monthly numbers of cars registered
Cars['Month'] = np.random.choice(month, size=1000, p=p3)

In [10]:
Cars.head(10)

        Model     Make Classification Technology    Price      Month
0  Countryman     Mini            SUV     Hybrid  19190.0    January
1        Kona  Hyundai            SUV   Electric  18783.0   February
2      I-Pace   Jaguar            SUV   Electric  19718.0      March
3    5 Series      BMW          Large     Hybrid  19755.0      March
4        Niro      Kia            SUV   Electric  19175.0       July
5        Leaf   Nissan          Small   Electric  19467.0      April
6         zoe      NaN            NaN        NaN      NaN    January
7    5 Series      BMW          Large     Hybrid  19195.0  September
8        Niro      Kia            SUV   Electric  18896.0       July
9        Leaf   Nissan          Small   Electric  19867.0    January

For commuting purposes, the author is interested in viewing the sales figures and trends for Dublin and the surrounding counties to see whether certain cars are preferred as the commuting distance varies. The location of sales is random, but with probability weights attached in line with the summary statistics p2, and appended to the dataset

In [11]:
# Add a new column to the dataset to simulate what county the car was rgistered. Use the probabilities defined in p2 above
Cars['Location'] = np.random.choice(location, size=1000, p=p2)

In [12]:
Cars.head(10)

        Model     Make Classification Technology    Price      Month Location
0  Countryman     Mini            SUV     Hybrid  19190.0    January  Wicklow
1        Kona  Hyundai            SUV   Electric  18783.0   February  Kildare
2      I-Pace   Jaguar            SUV   Electric  19718.0      March   Dublin
3    5 Series      BMW          Large     Hybrid  19755.0      March   Dublin
4        Niro      Kia            SUV   Electric  19175.0       July   Dublin
5        Leaf   Nissan          Small   Electric  19467.0      April  Wicklow
6         zoe      NaN            NaN        NaN      NaN    January   Dublin
7    5 Series      BMW          Large     Hybrid  19195.0  September  Wicklow
8        Niro      Kia            SUV   Electric  18896.0       July   Dublin
9        Leaf   Nissan          Small   Electric  19867.0    January   Dublin

In [13]:
Cars

,Model,Make,Classification,Technology,Price,Month,Location
0,Countryman,Mini,SUV,Hybrid,19190.0,January,Wicklow
1,Kona,Hyundai,SUV,Electric,18783.0,February,Kildare
2,I-Pace,Jaguar,SUV,Electric,19718.0,March,Dublin
3,5 Series,BMW,Large,Hybrid,19755.0,March,Dublin
4,Niro,Kia,SUV,Electric,19175.0,July,Dublin
5,Leaf,Nissan,Small,Electric,19467.0,April,Wicklow
6,zoe,NaN,NaN,NaN,NaN,January,Dublin
7,5 Series,BMW,Large,Hybrid,19195.0,September,Wicklow
8,Niro,Kia,SUV,Electric,18896.0,July,Dublin
9,Leaf,Nissan,Small,Electric,19867.0,January,Dublin
10,Kona,Hyundai,SUV,Electric,20204.0,June,Dublin
11,RR Sport RA,Land Rover,SUV,Hybrid,21088.0,January,Wicklow
12,Leaf,Nissan,Small,Electric,19425.0,April,Kildare
13,E-Golf,Volkswagen,Medium,Electric,22811.0,May,Dublin
14,Model 3,Tesla,Medium,Electric,19983.0,May,Dublin
15,Leaf,Nissan,Small,Electric,16943.0,January,Dublin
16,Outlander,Mitsubishi,SUV,Hybrid,21161.0,July,Dublin
17,Kona,Hyundai,SUV,Electric,20311.0,February,Dublin
18,Kona,Hyundai,SUV,Electric,21077.0,May,Dublin
19,XC90,Volvo,SUV,Hybrid,19125.0,February,Dublin
20,5 Series,BMW,Large,Hybrid,18694.0,March,Louth
21,Niro,Kia,SUV,Electric,21705.0,August,Dublin
22,Leaf,Nissan,Small,Electric,19692.0,January,Dublin
23,Leaf,Nissan,Small,Electric,18789.0,January,Kildare
24,Leaf,Nissan,Small,Electric,19313.0,August,Dublin
25,Leaf,Nissan,Small,Electric,21284.0,January,Dublin
26,Kona,Hyundai,SUV,Electric,20591.0,July,Dublin
27,E-Golf,Volkswagen,Medium,Electric,20748.0,April,Dublin
28,3 Series,BMW,Medium,Hybrid,20078.0,March,Dublin
29,Countryman,Mini,SUV,Hybrid,18139.0,June,Dublin
...,...,...,...,...,...,...,...
970,Leaf,Nissan,Small,Electric,20341.0,June,Dublin
971,Outlander,Mitsubishi,SUV,Hybrid,19403.0,February,Meath
972,Kona,Hyundai,SUV,Electric,18907.0,July,Kildare
973,zoe,NaN,NaN,NaN,NaN,February,Dublin
974,RR,Land Rover,SUV,Hybrid,19815.0,January,Dublin
975,Leaf,Nissan,Small,Electric,16874.0,April,Dublin
976,Leaf,Nissan,Small,Electric,20085.0,August,Dublin
977,Leaf,Nissan,Small,Electric,20346.0,July,Wexford
978,Leaf,Nissan,Small,Electric,19634.0,October,Dublin
979,Kona,Hyundai,SUV,Electric,21737.0,January,Kildare
980,Soul,Kia,SUV,Electric,18881.0,April,Carlow
981,Leaf,Nissan,Small,Electric,18910.0,January,Dublin
982,Kona,Hyundai,SUV,Electric,19019.0,April,Dublin
983,E-Tron,Audi,Medium,Electric,19853.0,January,Dublin
984,Kona,Hyundai,SUV,Electric,20637.0,January,Dublin
985,Outlander,Mitsubishi,SUV,Hybrid,20744.0,March,Meath
986,I-Pace,Jaguar,SUV,Electric,19170.0,May,Meath
987,RR Sport RA,Land Rover,SUV,Hybrid,21900.0,March,Dublin
988,Leaf,Nissan,Small,Electric,19552.0,April,Dublin
989,RR Sport RA,Land Rover,SUV,Hybrid,19558.0,January,Wicklow
990,Niro,Kia,SUV,Electric,20880.0,June,Dublin
991,RR Evoque R,Land Rover,SUV,Hybrid,19387.0,January,Dublin
992,Leaf,Nissan,Small,Electric,19964.0,July,Dublin
993,S90,Volvo,SUV,Hybrid,19776.0,July,Dublin
994,Model X,Tesla,SUV,Electric,18576.0,March,Dublin
995,Leaf,Nissan,Small,Electric,20100.0,February,Dublin
996,RR,Land Rover,SUV,Hybrid,19173.0,August,Dublin
997,Niro,Kia,SUV,Electric,20933.0,March,Dublin
998,I3,BMW,Small,Electric,21252.0,March,Wicklow
999,Kona,Hyundai,SUV,Electric,20687.0,February,Dublin

## References
1. Dreamstime.com, 2019, [Online image]. Available from: https://www.dreamstime.com/stock-photos-red-new-car-sign-image4256123 [viewed 29th Nov 2019]
2. Irish Motor Industry, 2019. *Car Registrations Data up to 30/11/2019* [Online]. Available from: https: https://stats.beepbeep.ie/ [viewed 1st Dec 2019]<br>
3. SciPy.org, 2019. *numpy.random.choice* [Online]. Available from: https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.choice.html. [viewed, 4th Dec 2019]<br>
4. stackoverflow.com, 2017. *np-random-choice-probabilities-do-not-sum-to-1* [Online]. Avaiable from: https://stackoverflow.com/questions/46539431/np-random-choice-probabilities-do-not-sum-to-1 [ viewed 4th Dec 2019]<br>
2. https://towardsdatascience.com/synthetic-data-generation-a-must-have-skill-for-new-data-scientists-915896c0c1ae
3. https://www.analyticsvidhya.com/blog/2017/09/6-probability-distributions-data-science/