# <center><font color = 'green'>Simulated data for purchasing a new electric car</fon></center>

![car-reg](Images/car-reg.png)

## <center><font color = 'green'>Barry Clarke</fon></center>
## <center><font color = 'green'>Programming for Data Analytics - Project - Autumn 2019</fon></center>

## Description

This repository will simulate the data for the purchasing of new hybrid and full electric cars in Ireland in the 2019. Summary car sales figures show that there has been a significant increase in Hybrid and full electric cars in 2019, when compared to 2018 sales figures.[1] The trend of total sales of Hybrids + full electric cars for 2018 and 2019 can be seen below. <br> 
![New E-car sales summary](Images/E-Car-sales-summary1.png)<br>
This data is of interest to the author, as his next car purchase will either be a hybrid or a full electric

The dataset will include the following columns:
1. **Model:** The make of car
2. **Make:** The manufacturer of the car
3. **Technology** The engine type
4. **Class:** The class of car
5. **Price** The price of the car
6. **Location** County where the car is registered. <font color = 'Red'>Note:</font> The dataset will only focus on Dublin and the commuter counties, as the author is a commuter and would like data relevant to his life situation
6. **colour** The colour of the car
7. **Gender:** Gender of purchaser
8. **Scrappage:** Yes/No based on whether the purchaser was availing of a scrappage deal

Within the dataset, the relationships between the variables will be discussed and simulated. The final simulated dataset will contain 1000 entries

In [1]:
# Import the relevant libraries
import numpy as np
import pandas as pd

In [2]:
# List of options within each variable
model = ['Leaf', 'Kona', 'Niro', 'zoe', 'E-Golf', 'Outlander', 'Range Rover sport RA', 'Ioniq', 'I3', '5 Series', 'XC90', 
        '3 Series', 'Soul', 'Countryman', 'Model S', 'XC60', 'E-Tron', 'I-Pace', 'Range Rover', 'Model 3', 'Model X',
       'S90', 'Pruis', 'Panamera', 'Mondeo', '2 Series', 'Range Rover Evoque R', 'EQC', 'E Class', 'Evalia', '7 Series',
       'Passat', 'Twizy', 'C Class', 'A7', 'V90', 'Cayenne', 'I8']
make = ['Nissan', 'Hyundai', 'Kia', 'Renault', 'Volkswagon', 'Mitsubishi', 'Land Rover', 'Hyundai', 'BMW', 'Volvo', 'Mini',
       'Tesla', 'Audi', 'Jaguar', 'Toyota', 'Porsche', 'Ford', 'Mercedez-Benz']
technology = ['Hybrid/Diesel', 'Hybrid/Petrol', 'Electric']
classification = ['small', 'medium', 'large', 'SUV']
Price = ['Whatever']
Location = ['Dublin', 'Meath', 'Louth' 'Kildare', 'Wicklow', 'Wexford', 'Carlow']
colour = ['Black', 'White', 'Red', 'Silver', 'Navy', 'Other']
gender = ['Male', 'Female']
scrappage = ['Yes', 'No']

In [4]:
data = pd.DataFrame({'Model': np.random.choice(model, 10), 'Technology': np.random.choice(technology, 10),
                     'Class': np.random.choice(classification, 10), 'Price': np.random.randint(20000, 80000, size=10),
                     'Price': np.random.randint(20000, 80000, size=10), 'Gender': np.random.choice(gender, 10),
                     'Scrappage': np.random.choice(scrappage, 10)})

In [5]:
data

                  Model     Technology   Class  Price  Gender Scrappage
0                   EQC  Hybrid/Diesel  medium  27766  Female       Yes
1           Range Rover       Electric     SUV  64162  Female        No
2            Countryman  Hybrid/Petrol   large  71506    Male        No
3               Model 3       Electric   small  29194    Male        No
4                   EQC  Hybrid/Diesel     SUV  67695    Male       Yes
5                Mondeo  Hybrid/Diesel   large  40510  Female       Yes
6  Range Rover sport RA       Electric  medium  24529  Female        No
7                   S90  Hybrid/Diesel   large  25762    Male        No
8               E Class       Electric   small  74135  Female       Yes
9                Passat       Electric   small  49212  Female        No

## References
1. https://stats.beepbeep.ie/
2. https://towardsdatascience.com/synthetic-data-generation-a-must-have-skill-for-new-data-scientists-915896c0c1ae
3. https://www.analyticsvidhya.com/blog/2017/09/6-probability-distributions-data-science/